@import '../../design-tokens/css/tokens.css';

.pagination-button {
  --button-size: var(--font-size-4);
  --button-padding-v: var(--sm);
  --button-padding-h: var(--sm);
  --button-margin: var(--sm);

  font-size: calc(var(--button-size) * 1px);
  padding: calc(var(--button-padding-v) * 1px) calc(var(--button-padding-h) * 1px);
  margin: calc(var(--button-margin) * 1px);
  border-radius: 9999px;
  min-width: calc(var(--button-size) * 1px);

  background-color: var(--primary-primary-100);
  border: none;
  color: var(--neutral-white);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-families-source-sans-pro);
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: var(--primary-primary-50);
} 

.pagination-button:active {
  box-shadow: inset -2px -2px 3px var(--neutral-white), inset 2px 2px 3px var(--primary-primary-100);
}

.pagination-button--disabled {
  background-color: var(--primary-primary-20);
  color: var(--neutral-white);
  cursor: not-allowed;
  pointer-events: none;
}

.pagination-button--small {
  --button-size: var(--font-size-2);
  --button-padding-v: var(--sm) ;
  --button-padding-h: var(--sm) * 2;
  --button-margin: var(--sm);
}

.pagination-button--medium {
  --button-size: var(--font-size-4);
  --button-padding-v: var(--md) * .65;
  --button-padding-h: var(--md);
  --button-margin: calc(var(--md) / 2);
}

.pagination-button--large {
  --button-size: var(--font-size-6);
  --button-padding-v: var(--lg) * .65;
  --button-padding-h: calc(var(--lg));
  --button-margin: calc(var(--lg) / 2);
}

.pagination-button--selected {
  background-color: var(--primary-primary-50);
  color: var(--neutral-black);
}